{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}
{% load crispy_forms_tags %}
{% block extra_css %}

{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ user profile ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex mb-3">
        <div class="col-12">

        </div>
    </div>
    <div class="row mb-5 justify-content-between">
        <div class="col-sm-8 align-center">
            <h3 class="brand-blue">your details <span><i class="fas fa-user-edit"></i></span></h3>
            <form action="{% url 'user_profile' %}" method="POST" id="user_profile_form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn bg-brand-blue green-link w-100">update details</button>
            </form>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'user_orders' %}" class="btn bg-brand-blue green-link w-100 mb-1">view previous orders</a>
        </div>
    </div>

</div>

{% endblock %}

{% block extrajs %}
{{ block.super }}
{% endblock %}