{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}
{% load crispy_forms_tags %}
{% block title %}
    <title>heiwa | user personal details</title>
{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ user profile details ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex mb-3">
        <div class="col-12">

        </div>
    </div>
    <div class="row mb-5 justify-content-center">
        <div class="col-sm-8 align-center">
            <form action="{% url 'user_profile' %}" method="POST" id="user_profile_form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn bg-brand-blue green-link w-100">update details</button>
            </form>
        </div>
    </div>
    <div class="row d-flex mb-3 justify-content-center">
        <div class="col-4">
            <a href="{% url 'account_overview' %}" class="btn bg-brand-blue green-link w-100 mb-1">back to my  account</a>
            <a href="{% url 'all_products' %}" class="btn bg-brand-blue green-link w-100 mb-1">shop again</a>
            <a href="{% url 'home' %}" class="btn bg-brand-blue green-link w-100 mb-1">home</a>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
{{ block.super }}
{% endblock %}