{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/error.css' %}">
{% endblock %}


{% block content %}
<main class='error-container'>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>5</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <span class='particle'>0</span>
  <article class='content'>
    <p>Damnit stranger,</p>
    <p>You got lost in the <strong>500</strong> galaxy.</p>
    <a class="btn" href="{% url 'home' %}">Go back to earth.</a>

  </article>
</main>
{% endblock %}