{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ about ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-around">
        <div class="col-sm-12 col-md-6 col-xl-10 text-center mb-3">
            <h5 class="text-responsive">heiwa - 平和 (へいわ) : a noun meaning 'peace' in Japanese.</h5>
            <p class="text-justify text-responsive">located in the <em>heart</em> of shoreditch, we are an art gallery & an institute of <strong>heiwa</strong>.<br>
            we have two beautiful exhibition spaces where we showcase local & international artists/photographers.</p>
            <p class="text-responsive">for information regarding current and future exhibitions see <a href="{% url 'exhibitions_list' %}" class="bg-brand-blue p-1 green-link">here</a></p>
            <p class="text-responsive">we aim to invoke a feeling of peace for all of our visitors, as we believe this to be of the utmost importance in contrast to the busy lives we lead.</p>
        </div>
    </div>
</div>

{% endblock %}