{% extends "base.html" %}
{% load static %}

{% block title %}
<title>heiwa | who we are</title>
{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ about ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-around">
        <div class="col-sm-12 col-md-8 col-xl-10 text-center mb-3">
            <h5 class="text-responsive">heiwa - 平和 (へいわ) : a noun meaning 'peace' in Japanese.</h5>
            <p class="text-justify text-responsive">located in the <em>heart</em> of shoreditch, we are an art gallery,
                shop & an institute of <strong>heiwa</strong>.<br>
                we have three beautiful exhibition spaces where we showcase local & international artists/photographers.
                our aim is to invoke a feeling of peace for all of our visitors, as we believe this to be of the utmost
                importance in contrast to the busy lives we lead.</p>
            <hr>
            <!-- links to important places -->
            <p class="text-responsive">for information regarding current and future exhibitions see <a
                    href="{% url 'exhibitions_list' %}" class="brand-blue p-1 brand-link">here.</a></p>
            <p class="text-responsive">to take some of this peace home with you, head to our <a
                    href="{% url 'all_products' %}" class="brand-blue p-1 brand-link">shop</a> where you will
                find artwork & prints on sale from some our previous exhibition artists.</p>
            <p class="text-responsive">to keep up to date with our latest exhibitions information and product releases
                <a href="#mc_embed_signup" class="brand-blue p-1 brand-link">sign up to our newsletter!</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}