/* https://codepen.io/remid/pen/YOVawm */

body {
	margin: 0;
	font-size: 20px;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .error-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40vh;
	background: white;
	color: #0d5c63;
	font-family: 'josefin-sans', sans-serif;
	overflow: hidden;
  }
  
  .content {
	position: relative;
	width: 600px;
	max-width: 100%;
	margin: 20px;
	background: white;
	padding: 60px 40px;
	text-align: center;
	box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
	opacity: 0;
	animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
  }
  .content p {
	font-size: 1.3rem;
	margin-top: 0;
	margin-bottom: 0.6rem;
	letter-spacing: 0.1rem;
  }
  .content p:last-child {
	margin-bottom: 0;
  }
  .content button {
	display: inline-block;
	margin-top: 2rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
  }
  
  .particle {
	position: absolute;
	display: block;
	pointer-events: none;
  }
  .particle:nth-child(1) {
	top: 38.4236453202%;
	left: 7.9051383399%;
	font-size: 12px;
	filter: blur(0.02px);
	animation: 40s floatReverse2 infinite;
  }
  .particle:nth-child(2) {
	top: 9.840098401%;
	left: 74.0375123396%;
	font-size: 13px;
	filter: blur(0.04px);
	animation: 38s float infinite;
  }
  .particle:nth-child(3) {
	top: 42.4096385542%;
	left: 16.5048543689%;
	font-size: 30px;
	filter: blur(0.06px);
	animation: 30s floatReverse2 infinite;
  }
  .particle:nth-child(4) {
	top: 36.053593179%;
	left: 67.5808031342%;
	font-size: 21px;
	filter: blur(0.08px);
	animation: 25s float2 infinite;
  }
  .particle:nth-child(5) {
	top: 93.3660933661%;
	left: 1.9723865878%;
	font-size: 14px;
	filter: blur(0.1px);
	animation: 39s floatReverse2 infinite;
  }
  .particle:nth-child(6) {
	top: 34.9090909091%;
	left: 6.8292682927%;
	font-size: 25px;
	filter: blur(0.12px);
	animation: 28s floatReverse2 infinite;
  }
  .particle:nth-child(7) {
	top: 50.6699147381%;
	left: 13.7120470127%;
	font-size: 21px;
	filter: blur(0.14px);
	animation: 23s float infinite;
  }
  .particle:nth-child(8) {
	top: 58.1113801453%;
	left: 12.6705653021%;
	font-size: 26px;
	filter: blur(0.16px);
	animation: 33s floatReverse infinite;
  }
  .particle:nth-child(9) {
	top: 36.4981504316%;
	left: 21.7606330366%;
	font-size: 11px;
	filter: blur(0.18px);
	animation: 21s floatReverse infinite;
  }
  .particle:nth-child(10) {
	top: 21.4896214896%;
	left: 89.3032384691%;
	font-size: 19px;
	filter: blur(0.2px);
	animation: 29s float infinite;
  }
  .particle:nth-child(11) {
	top: 13.5265700483%;
	left: 16.5369649805%;
	font-size: 28px;
	filter: blur(0.22px);
	animation: 22s float infinite;
  }
  .particle:nth-child(12) {
	top: 86.6995073892%;
	left: 58.3003952569%;
	font-size: 12px;
	filter: blur(0.24px);
	animation: 30s float2 infinite;
  }
  .particle:nth-child(13) {
	top: 12.6829268293%;
	left: 50%;
	font-size: 20px;
	filter: blur(0.26px);
	animation: 23s float infinite;
  }
  .particle:nth-child(14) {
	top: 37.6811594203%;
	left: 74.9027237354%;
	font-size: 28px;
	filter: blur(0.28px);
	animation: 35s float2 infinite;
  }
  .particle:nth-child(15) {
	top: 38.2352941176%;
	left: 65.9448818898%;
	font-size: 16px;
	filter: blur(0.3px);
	animation: 32s floatReverse2 infinite;
  }
  .particle:nth-child(16) {
	top: 47.2858866104%;
	left: 72.8862973761%;
	font-size: 29px;
	filter: blur(0.32px);
	animation: 39s floatReverse2 infinite;
  }
  .particle:nth-child(17) {
	top: 91.064871481%;
	left: 0.9832841691%;
	font-size: 17px;
	filter: blur(0.34px);
	animation: 21s float infinite;
  }
  .particle:nth-child(18) {
	top: 18.5819070905%;
	left: 89.3909626719%;
	font-size: 18px;
	filter: blur(0.36px);
	animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(19) {
	top: 13.8101109741%;
	left: 61.3254203759%;
	font-size: 11px;
	filter: blur(0.38px);
	animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(20) {
	top: 72.6380368098%;
	left: 75.8620689655%;
	font-size: 15px;
	filter: blur(0.4px);
	animation: 35s float2 infinite;
  }
  .particle:nth-child(21) {
	top: 93.4939759036%;
	left: 47.572815534%;
	font-size: 30px;
	filter: blur(0.42px);
	animation: 35s floatReverse2 infinite;
  }
  .particle:nth-child(22) {
	top: 31.8072289157%;
	left: 26.213592233%;
	font-size: 30px;
	filter: blur(0.44px);
	animation: 32s floatReverse infinite;
  }
  .particle:nth-child(23) {
	top: 5.9113300493%;
	left: 73.1225296443%;
	font-size: 12px;
	filter: blur(0.46px);
	animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(24) {
	top: 66.6666666667%;
	left: 2.9182879377%;
	font-size: 28px;
	filter: blur(0.48px);
	animation: 32s floatReverse2 infinite;
  }
  .particle:nth-child(25) {
	top: 71.8446601942%;
	left: 71.2890625%;
	font-size: 24px;
	filter: blur(0.5px);
	animation: 23s float2 infinite;
  }
  .particle:nth-child(26) {
	top: 25.2733900365%;
	left: 53.7634408602%;
	font-size: 23px;
	filter: blur(0.52px);
	animation: 30s floatReverse infinite;
  }
  .particle:nth-child(27) {
	top: 10.6666666667%;
	left: 30.243902439%;
	font-size: 25px;
	filter: blur(0.54px);
	animation: 26s floatReverse2 infinite;
  }
  .particle:nth-child(28) {
	top: 65.9286592866%;
	left: 55.2813425469%;
	font-size: 13px;
	filter: blur(0.56px);
	animation: 27s floatReverse infinite;
  }
  .particle:nth-child(29) {
	top: 63.4146341463%;
	left: 1.9607843137%;
	font-size: 20px;
	filter: blur(0.58px);
	animation: 34s floatReverse infinite;
  }
  .particle:nth-child(30) {
	top: 35.0364963504%;
	left: 0.9784735812%;
	font-size: 22px;
	filter: blur(0.6px);
	animation: 27s float infinite;
  }
  .particle:nth-child(31) {
	top: 38.9294403893%;
	left: 69.4716242661%;
	font-size: 22px;
	filter: blur(0.62px);
	animation: 30s float infinite;
  }
  .particle:nth-child(32) {
	top: 73.5294117647%;
	left: 56.1023622047%;
	font-size: 16px;
	filter: blur(0.64px);
	animation: 33s floatReverse infinite;
  }
  .particle:nth-child(33) {
	top: 8.7804878049%;
	left: 47.0588235294%;
	font-size: 20px;
	filter: blur(0.66px);
	animation: 33s floatReverse2 infinite;
  }
  .particle:nth-child(34) {
	top: 58.0565805658%;
	left: 76.9990128332%;
	font-size: 13px;
	filter: blur(0.68px);
	animation: 29s float infinite;
  }
  .particle:nth-child(35) {
	top: 64.656212304%;
	left: 24.2954324587%;
	font-size: 29px;
	filter: blur(0.7px);
	animation: 39s floatReverse infinite;
  }
  .particle:nth-child(36) {
	top: 82.9268292683%;
	left: 4.9019607843%;
	font-size: 20px;
	filter: blur(0.72px);
	animation: 40s float infinite;
  }
  .particle:nth-child(37) {
	top: 59.2233009709%;
	left: 24.4140625%;
	font-size: 24px;
	filter: blur(0.74px);
	animation: 29s float infinite;
  }
  .particle:nth-child(38) {
	top: 83.3333333333%;
	left: 15.7480314961%;
	font-size: 16px;
	filter: blur(0.76px);
	animation: 36s float infinite;
  }
  .particle:nth-child(39) {
	top: 50.3631961259%;
	left: 63.3528265107%;
	font-size: 26px;
	filter: blur(0.78px);
	animation: 22s float2 infinite;
  }
  .particle:nth-child(40) {
	top: 86.1985472155%;
	left: 19.4931773879%;
	font-size: 26px;
	filter: blur(0.8px);
	animation: 38s float infinite;
  }
  .particle:nth-child(41) {
	top: 76.1904761905%;
	left: 67.7134445535%;
	font-size: 19px;
	filter: blur(0.82px);
	animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(42) {
	top: 90.6211936663%;
	left: 48.971596474%;
	font-size: 21px;
	filter: blur(0.84px);
	animation: 22s floatReverse2 infinite;
  }
  .particle:nth-child(43) {
	top: 89.7657213317%;
	left: 28.684470821%;
	font-size: 11px;
	filter: blur(0.86px);
	animation: 26s float2 infinite;
  }
  .particle:nth-child(44) {
	top: 77.2014475271%;
	left: 82.6044703596%;
	font-size: 29px;
	filter: blur(0.88px);
	animation: 35s float2 infinite;
  }
  .particle:nth-child(45) {
	top: 53.9215686275%;
	left: 40.3543307087%;
	font-size: 16px;
	filter: blur(0.9px);
	animation: 26s floatReverse infinite;
  }
  .particle:nth-child(46) {
	top: 21.7016029593%;
	left: 47.4777448071%;
	font-size: 11px;
	filter: blur(0.92px);
	animation: 33s floatReverse infinite;
  }
  .particle:nth-child(47) {
	top: 91.1764705882%;
	left: 31.4960629921%;
	font-size: 16px;
	filter: blur(0.94px);
	animation: 23s float infinite;
  }
  .particle:nth-child(48) {
	top: 72.3763570567%;
	left: 39.8445092323%;
	font-size: 29px;
	filter: blur(0.96px);
	animation: 40s float2 infinite;
  }
  .particle:nth-child(49) {
	top: 74.9691738594%;
	left: 90.9990108803%;
	font-size: 11px;
	filter: blur(0.98px);
	animation: 37s floatReverse2 infinite;
  }
  .particle:nth-child(50) {
	top: 16.3855421687%;
	left: 73.786407767%;
	font-size: 30px;
	filter: blur(1px);
	animation: 25s floatReverse infinite;
  }
  .particle:nth-child(51) {
	top: 13.7592137592%;
	left: 26.6272189349%;
	font-size: 14px;
	filter: blur(1.02px);
	animation: 38s floatReverse2 infinite;
  }
  .particle:nth-child(52) {
	top: 7.8144078144%;
	left: 95.1913640824%;
	font-size: 19px;
	filter: blur(1.04px);
	animation: 21s floatReverse2 infinite;
  }
  .particle:nth-child(53) {
	top: 67.7966101695%;
	left: 71.1500974659%;
	font-size: 26px;
	filter: blur(1.06px);
	animation: 24s float2 infinite;
  }
  .particle:nth-child(54) {
	top: 94.0024479804%;
	left: 23.598820059%;
	font-size: 17px;
	filter: blur(1.08px);
	animation: 35s float2 infinite;
  }
  .particle:nth-child(55) {
	top: 45.4655380895%;
	left: 85.6864654333%;
	font-size: 27px;
	filter: blur(1.1px);
	animation: 35s float infinite;
  }
  .particle:nth-child(56) {
	top: 71.6564417178%;
	left: 92.6108374384%;
	font-size: 15px;
	filter: blur(1.12px);
	animation: 32s floatReverse infinite;
  }
  .particle:nth-child(57) {
	top: 23.2164449819%;
	left: 34.0798442064%;
	font-size: 27px;
	filter: blur(1.14px);
	animation: 33s float infinite;
  }
  .particle:nth-child(58) {
	top: 66.9090909091%;
	left: 82.9268292683%;
	font-size: 25px;
	filter: blur(1.16px);
	animation: 32s float infinite;
  }
  .particle:nth-child(59) {
	top: 8.7167070218%;
	left: 34.1130604288%;
	font-size: 26px;
	filter: blur(1.18px);
	animation: 29s floatReverse infinite;
  }
  .particle:nth-child(60) {
	top: 73.7100737101%;
	left: 38.4615384615%;
	font-size: 14px;
	filter: blur(1.2px);
	animation: 38s floatReverse infinite;
  }
  .particle:nth-child(61) {
	top: 0.9852216749%;
	left: 1.976284585%;
	font-size: 12px;
	filter: blur(1.22px);
	animation: 36s float infinite;
  }
  .particle:nth-child(62) {
	top: 3.9215686275%;
	left: 11.811023622%;
	font-size: 16px;
	filter: blur(1.24px);
	animation: 36s floatReverse2 infinite;
  }
  .particle:nth-child(63) {
	top: 9.6618357488%;
	left: 14.5914396887%;
	font-size: 28px;
	filter: blur(1.26px);
	animation: 32s float infinite;
  }
  .particle:nth-child(64) {
	top: 24.2130750605%;
	left: 22.4171539961%;
	font-size: 26px;
	filter: blur(1.28px);
	animation: 27s floatReverse2 infinite;
  }
  .particle:nth-child(65) {
	top: 72.2832722833%;
	left: 67.7134445535%;
	font-size: 19px;
	filter: blur(1.3px);
	animation: 36s float2 infinite;
  }
  .particle:nth-child(66) {
	top: 70.5018359853%;
	left: 79.6460176991%;
	font-size: 17px;
	filter: blur(1.32px);
	animation: 39s float infinite;
  }
  .particle:nth-child(67) {
	top: 29.5566502463%;
	left: 5.9288537549%;
	font-size: 12px;
	filter: blur(1.34px);
	animation: 25s floatReverse infinite;
  }
  .particle:nth-child(68) {
	top: 36.7593712213%;
	left: 61.3437195716%;
	font-size: 27px;
	filter: blur(1.36px);
	animation: 29s float infinite;
  }
  .particle:nth-child(69) {
	top: 20.4628501827%;
	left: 3.9177277179%;
	font-size: 21px;
	filter: blur(1.38px);
	animation: 28s floatReverse infinite;
  }
  .particle:nth-child(70) {
	top: 6.8459657702%;
	left: 75.6385068762%;
	font-size: 18px;
	filter: blur(1.4px);
	animation: 31s floatReverse infinite;
  }
  .particle:nth-child(71) {
	top: 76.6990291262%;
	left: 19.53125%;
	font-size: 24px;
	filter: blur(1.42px);
	animation: 27s floatReverse infinite;
  }
  .particle:nth-child(72) {
	top: 16.6666666667%;
	left: 79.7244094488%;
	font-size: 16px;
	filter: blur(1.44px);
	animation: 34s floatReverse infinite;
  }
  .particle:nth-child(73) {
	top: 12.6674786845%;
	left: 37.2184133203%;
	font-size: 21px;
	filter: blur(1.46px);
	animation: 36s floatReverse2 infinite;
  }
  .particle:nth-child(74) {
	top: 76.6060606061%;
	left: 92.6829268293%;
	font-size: 25px;
	filter: blur(1.48px);
	animation: 39s floatReverse infinite;
  }
  .particle:nth-child(75) {
	top: 4.8661800487%;
	left: 68.4931506849%;
	font-size: 22px;
	filter: blur(1.5px);
	animation: 38s float2 infinite;
  }
  .particle:nth-child(76) {
	top: 18.313253012%;
	left: 29.1262135922%;
	font-size: 30px;
	filter: blur(1.52px);
	animation: 32s float infinite;
  }
  .particle:nth-child(77) {
	top: 35.8353510896%;
	left: 67.2514619883%;
	font-size: 26px;
	filter: blur(1.54px);
	animation: 24s floatReverse infinite;
  }
  .particle:nth-child(78) {
	top: 62.5916870416%;
	left: 85.4616895874%;
	font-size: 18px;
	filter: blur(1.56px);
	animation: 40s floatReverse2 infinite;
  }
  .particle:nth-child(79) {
	top: 71.8446601942%;
	left: 7.8125%;
	font-size: 24px;
	filter: blur(1.58px);
	animation: 31s floatReverse infinite;
  }
  .particle:nth-child(80) {
	top: 8.7484811665%;
	left: 89.9315738025%;
	font-size: 23px;
	filter: blur(1.6px);
	animation: 36s floatReverse2 infinite;
  }
  
  @keyframes apparition {
	from {
	  opacity: 0;
	  transform: translateY(100px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  @keyframes float {
	0%, 100% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(180px);
	}
  }
  @keyframes floatReverse {
	0%, 100% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-180px);
	}
  }
  @keyframes float2 {
	0%, 100% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(28px);
	}
  }
  @keyframes floatReverse2 {
	0%, 100% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-28px);
	}
  }