.carousel-caption {
    color: #fff;
    background-color: #0d5c63;
}

.carousel-item {
    height: 60vh;
}

.carousel-image {
    height: auto;
    width: 100%;
}

.carousel-link {
    background-color: #85c280;
    color: #0d5c63;
    text-decoration: none;
}

.carousel-link:hover {
    color: #85c280;
    background-color: #0d5c63;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    .carousel-item {
        height: 20vh;
    }
}

@media screen and (min-width: 768px) {
    .carousel-item {
        height: 29vh;
    }
}

@media screen and (min-width: 1024px) {
    .carousel-item {
        height: 39vh;
    }
}

@media screen and (min-width: 1440px) {
    .carousel-item {
        height: 53vh;
    }
}