{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block title %}
<title>heiwa | thank you for your order!</title>
{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ order success ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex mb-3">
        <div class="col-12">
            <h4>thank you for your order <strong>{{ order.full_name }}</strong>!</h4>
        </div>
    </div>
    <div class="row">
        <!-- display order information -->
        <div class="col-sm-10">
            <div class="table-responsive">
                <table class="table">
                    <tr class="align-middle mb-2">
                        <th>order number:</th>
                        <td>{{ order.order_number }}</td>
                    </tr>
                    <tr class="mb-2">
                        <th>items:</th>
                        <td>
                            <!-- for each product in orderitems -->
                            {% for product in order.orderitems.all %}
                            <div class="text-right ">{{ product }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr class="mb-2">
                        <th>delivery details:</th>
                        <!-- call full address model method -->
                        <td>{{ order.full_address }}</td>
                    </tr>
                    <tr class="mb-2">
                        <th>total cost:</th>
                        <td><strong>£{{ order.order_total }}</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <a href="{% url 'home' %}" class="btn bg-brand-blue green-link w-100">view exhibitions</a>
        </div>
        <div class="col-4">
            <a href="{% url 'home' %}" class="btn bg-brand-blue green-link w-100">home</a>
        </div>
    </div>
</div>

{% endblock %}