{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}
{% load crispy_forms_tags %}
{% block extra_css %}

{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ checkout ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 my-2 d-flex">
            {% if items_in_basket %}
            <!-- customer info form -->
            <div class="col-sm-6 col-md-4">
                <h5 class="brand-blue"><strong>delivery details</strong></h5>
                {{ form|crispy }}
            </div>
            
            <!-- stripe payment form -->
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-2 d-flex justify-content-center">
            <a href="{% url 'all_products' %}" class="btn bg-brand-blue green-link w-100">keep shopping</a>

        </div>
        <div class="col-2 d-flex justify-content-center">
            <a href="{% url 'all_products' %}" class="btn bg-brand-blue green-link w-100">checkout</a>
        </div>
    </div>
    {% else %}
</div>
<div class="row">
    <div class="col-6">
        <h4>your basket is currently empty.</h4>
        <a href="{% url 'all_products' %}" class="btn bg-brand-blue green-link">keep shopping</a>
    </div>

</div>
{% endif %}
</div>

</div>

{% endblock %}

{% block extrajs %}
{{ block.super }}

{% endblock %}