{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block title %}
    <title>heiwa | secure checkout</title>
{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ checkout ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center d-flex mb-3">
        <!-- if there are items in the basket -->
        {% if items_in_basket %}
        <!-- customer info form -->
        <div class="col-sm-6 col-md-4 payment-form order-sm-1 order-xl-0">
            <form id="stripe-payment-form" method="POST" action="{% url 'checkout' %}">
                {% csrf_token %}
                <h5 class="brand-blue"><strong>delivery details</strong></h5>
                {{ form_errors }}
                {{ form|crispy }}
                <div class="mt-2">
                    <!-- if the user is logged in, give them the option to save their details -->
                    {% if request.user.is_authenticated %}
                    <label for="save-address" class="brand-blue"><strong>save details to profile:</strong></label>
                    <input type="checkbox" id="save-address" name="save-address" checked>
                    {% else %}
                    <!-- if not logged in then prompt them to register or sign in -->
                    <p class="fw-bolder brand-blue"><a class="green-link" href="{% url 'account_signup' %}">register</a> or
                    <a class="green-link" href="{% url 'account_login' %}">login</a> to save your address for next time!</p>
                    {% endif %}
                </div>
                <hr>
                <!-- Card detail -->
                <h5 class="brand-blue mb-3"><strong>card details</strong></h5>
                <div id="payment-element">
                    <!--Stripe.js injects the Payment Element-->
                </div>
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                <!-- used to display errors/success message -->
                <div id="payment-message" class="hidden text-danger mb-2"></div>
                <button id="payment-submit-button" type="submit" class="btn bg-brand-blue green-link w-100">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">pay now</span>
                </button>
            </form>
        </div>
        <!-- display an overview of the basket -->
        <div class="col-sm-6 col-md-4 payment-form order-sm-0 order-xl-1">
            <h5 class="brand-blue mb-3"><strong>basket</strong></h5>
            {% for pk in items_in_basket %}
            <p><img class="img-thumbnail" style="height: 70px; width: 70px" src="{{ MEDIA_URL}}{{ pk.product.image }}"
                    alt="{{ pk.product.name }} image"> {{ pk.product.name }} in {{ pk.product.size }} -
                £{{ pk.product.price }}</p>
            {% endfor %}
            <p class="float-end">total: £{{ total_cost }}</p>

            <a href="{% url 'all_products' %}" class="btn bg-brand-blue green-link w-100">keep shopping</a>
        </div>

        {% else %}
    </div>
    <div class="row">
        <div class="col-6">
            <h4>your basket is currently empty.</h4>
            <a href="{% url 'all_products' %}" class="btn bg-brand-blue green-link">keep shopping</a>
        </div>

    </div>
    {% endif %}
</div>

</div>

{% endblock %}

{% block extrajs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script type="text/javascript" src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}