{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block title %}
    <title>heiwa | basket overview</title>
{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ basket overview ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    {% if items_in_basket %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-xl-10 my-2 justify-content-center">
            <!--datatable to display basket information  -->
            <table id="basket_table" class="data_table text-center display wrap" width="100%">
                <thead class="text-center">
                    <tr>
                        <th scope="col">product</th>
                        <th scope="col"></th>
                        <th scope="col">quantity</th>
                        <th scope="col">price</th>
                        <th scope="col">subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- for each item in the basket -->
                    {% for pk in items_in_basket %}
                    <tr>
                        <td>
                            <ul class="list-unstyled">
                                <li>{{ pk.product.name }}</li>
                                <li>size {{ pk.product.size }}</li>
                            </ul>
                        </td>
                        <td>
                            <img class="img-thumbnail" src="{{ MEDIA_URL}}{{ pk.product.image }}"
                                alt="{{ pk.product.name }} image">
                        </td>
                        <td>
                            <!-- update quantity form -->
                            <form class="quantity-form" method="POST" action="{% url 'change_quantity' pk.pk %}">
                                {% csrf_token %}
                                <div class="value-button decrease" data-id="{{ pk.pk }}_decrease"
                                    value="Decrease Value">-</div>
                                <input type="number" id="{{ pk.pk }}" class="number" name="quantity"
                                    value="{{ pk.quantity }}" max="5" />
                                <div class="value-button increase" data-id="{{ pk.pk }}_increase"
                                    value="Increase Value">+</div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                <button type="submit"
                                    class="btn green-link bg-brand-blue d-block my-1 mx-auto">update</button>
                            </form>

                        </td>
                        <td>£{{ pk.product.price }}</td>
                        <td>£{{ pk.product.price | calculate_subtotal:pk.quantity }}</td>
                        <td><a href="{% url 'remove_product' pk.pk %}" class="btn btn-danger">remove</a></td>
                    </tr>
                    {% endfor %}
            </table>
            <h5 class="text-center mt-3"><strong>total cost: {{ total_cost }}</strong></h5>
        </div>
    </div>

    <div class="row justify-content-center mb-2">
        <div class="col-sm-4 col-md-3 mb-2 d-flex justify-content-center">
            <a href="{% url 'all_products' %}" class="btn bg-brand-blue green-link w-100">keep shopping</a>

        </div>
        <div class="col-sm-4 col-md-3 mb-2 d-flex justify-content-center">
            <a href="{% url 'checkout' %}" class="btn bg-brand-blue green-link w-100">checkout</a>
        </div>
    </div>
    {% else %}
    <!-- if not products in basket -->
    <div class="row">
        <div class="col-6">
            <h4>your basket is currently empty.</h4>
            <a href="{% url 'all_products' %}" class="btn bg-brand-blue green-link">keep shopping</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<!-- datatables js plugins -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<!-- personal js -->
<script src="{% static 'basket/js/basket.js' %}"></script>
{% endblock %}