{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="css/mdb.min.css">
<!-- Plugin file -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ basket overview ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-xl-10 my-2 d-flex justify-content-center">
                    {% for product in items_in_basket %}
                    <li>name: {{ product.name }}</li>
                        <li>artist: {{ product.photographer_artist }}</li>
                        <li>size: {{ product.size }}</li>
                        <li>quantity: </li>
                        <li>price: £{{ product.price }}</li>
                        <li><img class="card-img-top" style="height: 50%; width: 50%"
                            src="{{ MEDIA_URL}}{{ product.image }}" alt="{{ product.name }} image"></li>
                        <li>style</li>
                    {% endfor %}
        </div>

    </div>
</div>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}