{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- Plugin file -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ basket overview ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-xl-6 my-2 d-flex justify-content-center">
            <table cellspacing="0" width="100%"
                class="table table-responsive text-center">
                {% if items_in_basket %}
                <thead>
                    <tr>
                        <th scope="col">product</th>
                        <th scope="col"></th>
                        <th scope="col">quantity</th>
                        <th scope="col">price</th>
                        <th scope="col">subtotal</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for pk in items_in_basket %}
                    <tr>
                        <td>
                            <ul class="list-unstyled">
                                <li>{{ pk.product.name }}</li>
                                <li>size {{ pk.product.size }}</li>
                            </ul>
                        </td>
                        <td>
                            <img class="img-thumbnail" style="height: 50px; width: 50px"
                                src="{{ MEDIA_URL}}{{ pk.product.image }}" alt="{{ pk.product.name }} image">
                        </td>
                        <td><form class="quantity-form">
                            <div class="value-button decrease" data-id="{{ pk.pk }}_decrease" value="Decrease Value">-</div>
                            <input type="number" id="{{ pk.pk }}" class="number" data-value="{{ pk }}_number" value="{{ pk.quantity }}" />
                            <div class="value-button increase" data-id="{{ pk.pk }}_increase" value="Increase Value">+</div>
                            <button type="submit" class="btn green-link bg-brand-blue d-block my-1 mx-auto">update qty</button>
                        </form>
                        </td>
                        <td>£{{ pk.product.price }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>total: </td>
                        <td>£{{ total_cost }}</td>
                    </tr>
            </table>
            {% else %}
            <p>currently your basket is empty.</p>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script src="{% static 'basket/js/basket.js' %}"></script>
{% endblock %}