.image-container {
    height: 20rem;
}

/* if image is landscape then display in the middle */
.card-img-top {
    max-height: 20rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.card {
    width: 16rem;
}