/* https://stackoverflow.com/questions/25474378/how-to-style-jquery-datepicker-calendar */

.ui-datepicker {
    width: 300px;
    height: 150px;
    margin: 5px auto 0;
    background-color: #ffffff;
}

.ui-datepicker table {
    width: 100%;
}

.ui-datepicker-header {
    background: #0d5c63;
    color: #ffffff;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
}

.ui-datepicker-title {
    text-align: center;
    font-size: 15px;

}

.ui-datepicker-prev {
    float: left;
    cursor: pointer;
    background-position: center -30px;
    color: #fff;
    text-decoration: none;
}

.ui-datepicker-next {
    float: right;
    cursor: pointer;
    background-position: center 0px;
    color: #fff;
    text-decoration: none;
}

.ui-datepicker thead {
    background-color: #f7f7f7;
}

.ui-datepicker th {
    background-color: #85c280;
    text-transform: uppercase;
    font-size: 8pt;
    color: #ffffff;
    text-align: center;
}

.ui-datepicker tbody td,
.ui-datepicker tbody td a {
    padding: 0;
    color: #0d5c63;
    background-color: white;
    text-align: center;
    text-decoration: none;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker tbody td a:hover {
    background-color: #0d5c63;
    color: white;
}