{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block corecss %}
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- mailchimp sign up -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet"
                        type="text/css">
    <!-- personal css  -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}

    {% endblock %}
    
    {% block corejs %}
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/ad6c696766.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- mailchimp -->
    <script id="mcjs">
        ! function (c, h, i, m, p) {
            m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(
                m, p)
        }(document, "script",
            "https://chimpstatic.com/mcjs-connected/js/users/ea91edf6940c130d5c85856bc/bccff5c5cb3f7c53889afd74a.js");
    </script>
    <!-- stripe -->
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <!-- personal -->
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% endblock %}
    <title>heiwa | art gallery & shop </title>
</head>
<div class="page-container">

<body class="d-flex flex-column ">
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-brand-blue" id="main-nav">
        <a class="navbar-brand brand-text ml-2" href="{% url 'home' %}" id="nav-heading">heiwa</a>
        <!-- Collapsible icon for smaller screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item light-text">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}
                    green-text {% endif %}" href="{% url 'home' %}">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'about' %}
                    green-text {% endif %}" href="{% url 'about' %}">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'exhibitions_list' %}
                    green-text {% endif %}" " href="{% url 'exhibitions_list' %}">exhibitions</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-toggle1" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" href="#" aria-expanded="false">shop
                    </a>
                    <div class="dropdown-menu dropdown-menu1" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item {% if request.resolver_match.url_name == 'all_products' %}
                        green-text {% endif %}" href="{% url 'all_products' %}">all prints</a>
                        {% for category in category_list %}
                        <a class="dropdown-item {% if request.resolver_match.url_name == 'all_products/?style={{ category.id }}>' %}
                        green-text {% endif %}"
                            href="{% url 'all_products' %}?style={{ category.id }}">{{ category.name_to_display|lower }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-toggle2" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" href="#" aria-expanded="false">admin
                    </a>
                    <div class="dropdown-menu dropdown-menu2" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item {% if request.resolver_match.url_name == 'add_product' %}
                        green-text {% endif %}" href="{% url 'add_product' %}">add product</a>
                        <a class="dropdown-item {% if request.resolver_match.url_name == 'update_products' %}
                        green-text {% endif %}"  href="{% url 'update_products' %}">product management</a>
                        <a class="dropdown-item {% if request.resolver_match.url_name == 'add_exhibition' %}
                        green-text {% endif %}"  href="{% url 'add_exhibition' %}">add exhibition</a>
                        <a class="dropdown-item {% if request.resolver_match.url_name == 'exhibition_management' %}
                        green-text {% endif %}"  href="{% url 'exhibition_management' %}">exhibition management</a>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item ml-auto">
                    <a class="nav-link {% if request.resolver_match.url_name == 'account_overview' %}
                    green-text {% endif %}" href="{% url 'account_overview' %}">my account</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link {% if request.resolver_match.url_name == 'account_logout' %}
                    green-text {% endif %}" href="{% url 'account_logout' %}">logout</a>
                </li>
                <!-- If user is not logged in display Register & Login -->
                {% else %}
                <li class="nav-item ml-auto">
                    <a class="nav-link {% if request.resolver_match.url_name == 'account_signup' %}
                    green-text {% endif %}" href="{% url 'account_signup' %}">register</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link {% if request.resolver_match.url_name == 'account_login' %}
                    green-text {% endif %}" href="{% url 'account_login' %}">login</a>
                </li>
                {% endif %}
                <li class="nav-item ml-auto">
                    <a class="nav-link text-center {% if request.resolver_match.url_name == 'basket_overview' %}
                    green-text {% endif %}" href="{% url 'basket_overview' %}"><i
                            class="fas fa-shopping-basket fa-lg"></i>
                        <p class="my-0">{% if total_cost %}
                            £{{ total_cost|floatformat:2 }}
                            {% else %}
                            £0.00
                            {% endif %}
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <header>
        <div class="container container-clip mt-5">
            <div id="main-title" class="text-center">
                <h1 class="mb-0">heiwa</h1>
                {% block subtitle %}

                {% endblock %}
            </div>
        </div>
    </header>
    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/error.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/success.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/warning.html' %}
        {% else %}
        {% include 'includes/toasts/info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    <!-- Site footer https://codepen.io/scanfcode/pen/MEZPNd -->
    <footer class="site-footer bg-brand-blue mt-4">
        <div class="container">
            <div class="row footer-row">
                <div class="col-xs-6 col-md-3">
                    <h6>heiwa gallery</h6>
                    <p class="text-justify">located in the <em>heart</em> of shoreditch, we are an art gallery & an
                        institute of <strong>heiwa</strong> (peace).</p>
                </div>

                <div class="col-xs-6 col-md-3" id="hours-col">
                    <h6>opening hours <span class="hidden read-more" id="show-opening"><i
                                class="fas fa-arrow-down"></i></span></h6>
                    <ul class="footer-links read-less" id="opening-hours">
                        <li>Monday: closed</li>
                        <li>Tuesday - Friday: 10am - 7pm</li>
                        <li>Saturday - Sunday: 9am - 8pm</li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3" id="location-col">
                    <h6>find us<span class="hidden read-more" id="show-location"><i
                                class="fas fa-arrow-down"></i></span></h6>
                    <ul class="footer-links read-less" id="location">
                        <li>32a redchurch street</li>
                        <li>shoreditch</li>
                        <li>london</li>
                        <li>E1 6JT</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h6>newsletter sign up!</h6>
                    <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form
                            action="https://herokuapp.us14.list-manage.com/subscribe/post?u=ea91edf6940c130d5c85856bc&amp;id=a9f944f3e8"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL" aria-hidden="true" class="hidden">Email Address <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="required email" placeholder="email address" id="mce-EMAIL">
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!--  do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                        name="b_ea91edf6940c130d5c85856bc_a9f944f3e8" tabindex="-1" value=""></div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="button green-link">
                                        <p class="brandingLogo"><a href="http://eepurl.com/hZcfaX"
                                                title="Mailchimp - email marketing made easy and fun" ><img
                                                    src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" class="mailchimp-logo"></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                        <a href="https://github.com/daisygunn" target="_blank">Daisy Lindsay-Gunn</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/?lang=en" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="instagram" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <p class="float-end">02074327854 | hello@heiwa-gallery.com</p>
                </div>
            </div>
        </div>
    </footer>
    {% block extrajs %}
    {{ block.super }}
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
        </script>
        <script type='text/javascript'>
                        (function ($) {
                            window.fnames = new Array();
                            window.ftypes = new Array();
                            fnames[0] = 'EMAIL';
                            ftypes[0] = 'email';
                            fnames[1] = 'FNAME';
                            ftypes[1] = 'text';
                            fnames[2] = 'LNAME';
                            ftypes[2] = 'text';
                            fnames[3] = 'ADDRESS';
                            ftypes[3] = 'address';
                            fnames[4] = 'PHONE';
                            ftypes[4] = 'phone';
                            fnames[5] = 'BIRTHDAY';
                            ftypes[5] = 'birthday';
                        }(jQuery));
                        var $mcj = jQuery.noConflict(true);
        </script>
        <script type="text/javascript">
        $('.toast').toast('show');

        responseBlock = $("#mce-success-response")
        if(responseBlock.css('display') === 'block'){
            console.log('working')
            setTimeout( function(){ 
            // Do something after 10 second 
            responseBlocks.hide()}  , 10000 );
        }
        </script>
    {% endblock %}
</body>
</div>

</html>