{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>heiwa | exhibitions showing at the gallery</title>
{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ exhibitions ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center mb-5">
        <div class="col-sm-12 col-md-6">
            <h6 class="bg-brand-blue p-2 text-center green-text fw-bolder">please note, tickets cannot be purchased in
                advance.</h6>
        </div>
    </div>
    <div class="row mb-5 d-flex justify-content-center">
        <!-- Option to filter by date/status / hidden on extra small screens-->
        <div class="col-12 mb-2 text-center d-none d-sm-block">
            <h5 class="green-text fw-bolder">filter by date</h5>
        </div>
        <div class="col-sm-4 col-md-3 mb-2 d-none d-sm-block">
            <a href="{% url 'exhibitions_list' %}?status=now showing" rel="canonical"
                class="btn {% if status == 'now showing' %}
                bg-green text-white {% else %} brand-link {% endif %} fw-bolder w-100">now
                showing</a>
        </div>
        <div class="col-sm-4 col-md-3 mb-2 d-none d-sm-block">
            <a href="{% url 'exhibitions_list' %}?status=coming soon" rel="canonical"
                class="btn {% if status == 'coming soon' %}
                bg-green text-white {% else %} brand-link {% endif %} fw-bolder w-100">coming
                soon</a>
        </div>
        <!-- If superuser then display cancelled, finished and pending -->
        {% if request.user.is_superuser %}
        <div class="col-sm-4 col-md-3 mb-2 d-none d-sm-block">
            <a href="{% url 'exhibitions_list' %}?status=pending" rel="canonical"
                class="btn  {% if status == 'pending' %}
                bg-green text-white {% else %} brand-link {% endif %} fw-bolder w-100">pending</a>
        </div>
        <div class="col-sm-4 col-md-3 mb-2 d-none d-sm-block">
            <a href="{% url 'exhibitions_list' %}?status=finished" rel="canonical"
                class="btn  {% if status == 'finished' %}
                bg-green text-white {% else %} brand-link {% endif %} fw-bolder w-100">finished</a>
        </div>
        <div class="col-sm-4 col-md-3 mb-2 d-none d-sm-block">
            <a href="{% url 'exhibitions_list' %}?status=cancelled" rel="canonical"
                class="btn  {% if status == 'cancelled' %}
                bg-green text-white {% else %} brand-link {% endif %} fw-bolder w-100">cancelled</a>
        </div>
        {% endif %}
        <div class="col-sm-4 col-md-3 mb-2 d-none d-sm-block">
            <a href="{% url 'exhibitions_list' %}" rel="canonical"
                class="btn {% if not status %}
                bg-green text-white {% else %} brand-link {% endif %} fw-bolder w-100">show
                all</a>
        </div>
    </div>
    <!-- If there are exhibitions in the database -->
    {% if exhibitions %}
    <div class="row">
        {% for exhibition in exhibitions %}
        <!-- If exhibition has been ticked to display -->
        {% if exhibition.display %}
        <div class="col-sm-6 mb-2 {% if not request.user.is_superuser and exhibition.status == 'finished' %} hidden {% endif %}">
            <div class="card">
                <div class="card-title bg-brand-blue text-white">
                    <h5 class="mt-2 mx-2"><strong>{{ exhibition.name }} </strong>by {{ exhibition.photographer_artist }}
                    </h5>
                </div>
                <div class="card-body brand-blue">
                    <div class="" id="{{ exhibition.name }}-description">
                        <p class="card-text fw-bolder">{{ exhibition.description }}</p>
                    </div>
                    <hr>
                    <div class="p-2">
                        <p class="card-text text-underline">entrance fee: <span
                                class="green-text">£{{ exhibition.entrance_fee }}</span></p>
                        <p class="card-text green-text fw-bolder">{{ exhibition.date_starting }} -
                            {{ exhibition.date_finishing }}
                            <!-- change colour of pill depending on status -->
                            {% if exhibition.status == 'now showing' %}
                            <span class="badge badge-pill bg-brand-blue text-white mx-2">
                                {% elif exhibition.status == 'coming soon' %} <span
                                    class="badge badge-pill bg-warning mx-2">
                                    {% else %} <span class="badge badge-pill bg-secondary mx-2">{% endif %}
                                        {{ exhibition.status }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <div class="row mb-4">
        <div class="col-6">
            <h5 class="fw-bolder brand-blue">sorry, no exhibition information currently available.</h5>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}