{% extends 'base.html' %}
{% load static %}
{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ exhibitions ]</h2>
{% endblock %}

{% block content %}
<div class="container">
            <div class="row">
                {% if exhibitions %}
                {% for exhibition in exhibitions %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-title bg-brand-blue text-white">
                            <h5 class="mt-2 mx-2"><strong>{{ exhibition.name }} </strong>by {{ exhibition.photographer_artist }}</h5>
                        </div>
                        <div class="card-body brand-blue">
                            <!-- <p class="read-more">read more <span><i class="fas fa-arrow-down" data-id="{{ exhibition.name }}-description"></i></span></p> -->
                            <div class="" id="{{ exhibition.name }}-description">
                                <p class="card-text fw-bolder">{{ exhibition.description }}</p>
                            </div>
                            <hr>
                            <div class="bg-brand-blue p-2">
                                <p class="card-text green-text fw-bolder">ticket price: £{{ exhibition.entrance_fee }}</p>
                                <p class="card-text green-text bg-brand-blue fw-bolder">{{ exhibition.date_starting }} - {{ exhibition.date_finishing }} <span class="badge badge-pill bg-white green-text mx-2">{{ exhibition.status }}</span></p>
                            </div>
                            {% if user.is_superuser %}
                            <hr>
                            <p class="fw-bolder">showing in: {{ exhibition.gallery_area }}</p>
                            <a class="btn btn-success btn-sm mb-1 w-100" href="">edit</a>
                            <a class="btn btn-danger btn-sm mb-1 w-100"
                                href="">delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h5>sorry, no exhibition information currently available.</h5>
                {% endif %}
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}

{% block extrajs %}
{{ block.super }}

{% endblock %}