{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- Plugin file -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ exhibition management ]</h2>
{% endblock %}

{% block content %}
<div class="container">

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-xl-10 my-2 justify-content-center">
            <table id="products_table" class="display wrap" width="100%">
                <thead>
                    <tr>
                        <th scope="col">exhibition id</th>
                        <th scope="col">name</th>
                        <th scope="col">artist</th>
                        <th scope="col">entrance fee</th>
                        <th scope="col">gallery location</th>
                        <th scope="col">style</th>
                        <th scope="col">date starting</th>
                        <th scope="col">date finishing</th>
                        <th scope="col">status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exhibition in exhibitions %}
                    <tr>
                        <td>{{ exhibition.pk }}</td>
                        <td>{{ exhibition.name }}</td>
                        <td>{{ exhibition.photographer_artist }}</td>
                        <td>£{{ exhibition.entrance_fee }}</td>
                        <td>{{ exhibition.gallery_area }}</td>
                        <td>{{ exhibition.style }}</td>
                        <td>{{ exhibition.date_starting }}</td>
                        <td>{{ exhibition.date_finishing }}</td>
                        <td>{{ exhibition.status }}</td>
                        <td>
                            <a class="btn btn-success btn-sm mb-1 w-100"
                            href="{% url 'edit_exhibition' exhibition.pk %}">edit</a>
                        <a class="btn btn-danger btn-sm mb-1 w-100"
                            href="{% url 'delete_exhibition' exhibition.pk %}">delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<!-- Plugin file for datatable -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}