{% extends 'base.html' %}
{% load static %}
{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ shop ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <p>*free shipping to UK mainland</p>
        </div>
    </div>
    <div class="row">
        <!-- display each product as a card -->
        {% for product in page_obj %}
        <div class="col-sm-6 col-md-4 col-xl-3 my-2 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height: 20rem" src="{{ MEDIA_URL}}{{ product.image }}"
                    alt="{{ product.name }} image">

                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">by {{ product.photographer_artist }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">size: {{ product.size }}</li>
                    <li class="list-group-item">price: £{{ product.price }}</li>
                    <li class="list-group-item"><small>style: {{ product.style.name_to_display|lower }}</small></li>
                </ul>
                <div class="card-body">
                    {% if product.in_stock %}
                    <form action="{% url 'add_product_to_basket' product.pk %}" method="POST">
                        {% csrf_token %}
                        <select name="quantity" id="{{ product.pk }}_quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <button type="submit" class="btn card-link green-link bg-brand-blue">add to basket</a>
                    </form>
                    {% else %}
                    <h6 class="text-danger"><strong>sorry, not currently in stock.</strong></h6>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-end">
        <!-- pagination -->
        <div class="col-sm-6 col-md-4 my-2">
            <div class="pagination text-center my-2 float-end">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn green-link bg-brand-blue">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn green-link bg-brand-blue">previous</a>
                    {% endif %}

                    <span class="current mx-2">
                        page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn green-link bg-brand-blue">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn green-link bg-brand-blue">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}