{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block title %}
<title>heiwa | artwork and prints online shop</title>
{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ shop ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center my-2">
        <div class="col-sm-12 col-md-6 ">
            <h6 class="bg-brand-blue p-2 text-center green-text fw-bolder">free shipping worldwide</h6>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 mb-2 text-center d-none d-sm-block">   
            <h5 class="green-text fw-bolder">filter by category</h5>
        </div>
        <!-- category filter options / hidden on extra small screens-->
        <div class="col-sm-4 col-md-3 mb-2 d-none d-sm-block"><a href="{% url 'all_products' %}?category=1" rel="canonical"
                class="btn {% if category == '1' %}
                bg-green text-white {% else %} brand-link {% endif %} fw-bolder w-100">black
                and white prints</a></div>
        <div class="col-sm-4 col-md-3 mb-2 d-none d-sm-block"><a href="{% url 'all_products' %}?category=2" rel="canonical"
                class="btn {% if category == '2' %}
                bg-green text-white {% else %} brand-link {% endif %} fw-bolder w-100">graphic
                art</a></div>
        <div class="col-sm-4 col-md-3 mb-2 d-none d-sm-block">
            <a href="{% url 'all_products' %}?category=3" rel="canonical"
                class="btn {% if category == '3' %}
                bg-green text-white {% else %} brand-link {% endif %} fw-bolder w-100">colour
                photography</a>
        </div>
        <div class="col-sm-4 col-md-3 mb-2 d-none d-sm-block">
            <a href="{% url 'all_products' %}?in_stock=True" rel="canonical" class="btn {% if in_stock %}
            bg-green text-white {% else %} brand-link {% endif %}  fw-bolder w-100">products in stock</a>
        </div>
        <div class="col-sm-4 col-md-3 mb-2 d-none d-sm-block">
            <a href="{% url 'all_products' %}" rel="canonical" class="btn {% if not category %}
            bg-green text-white {% else %} brand-link {% endif %}  fw-bolder w-100">show
                all</a>
        </div>
    </div>
    <div class="row">
        <!-- display each product as a card -->
        {% for product in page_obj %}
        <div class="col-sm-6 col-md-4 col-xl-3 my-2 d-flex justify-content-center">
            <div class="card">
                <div class="image-container align-middle">
                    <img class="card-img-top" src="{{ MEDIA_URL}}{{ product.image }}" alt="{{ product.name }} image">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">by {{ product.photographer_artist }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">size: {{ product.size }}</li>
                    <li class="list-group-item">price: £{{ product.price }}</li>
                    <li class="list-group-item"><small>category: {{ product.category.name_to_display|lower }}</small></li>
                    {% if request.user.is_authenticated %}
                    <li class="list-group-item">
                        <a href="{% url 'add_to_wishlist' product.pk %}" id="{{ product.pk }}-wishlist-btn"
                            class="btn card-link green-link">
                            <!-- if there are no items in wishlist -->
                            {% if wishlist_items|length == 0 %}
                            <i class="far fa-heart" title="add to wishlist"></i>
                            {% else %}
                            <!-- if the product is in the wishlist, display full heart -->
                            {% if product in wishlist_items %}
                            <i class="fas fa-heart" title="remove from wishlist"></i>
                            {% else %}
                            <!-- if the product is not in wishlist, display empty heart -->
                            <i class="far fa-heart" title="add to wishlist"></i>
                            {% endif %}
                            {% endif %}
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <div class="card-body">
                    {% if product.in_stock %}
                    <!-- only display add to product form if the product is in stock -->
                    <form action="{% url 'add_product_to_basket' product.pk %}" method="POST">
                        {% csrf_token %}
                        <select name="quantity" id="{{ product.pk }}_quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <button type="submit" class="btn card-link green-link bg-brand-blue">add to basket</a>
                    </form>
                    {% else %}
                    <h6 class="text-danger"><strong>sorry, not currently in stock.</strong></h6>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-end">
        <!-- pagination -->
        <div class="col-sm-6 col-md-4 my-2">
            <div class="pagination text-center my-2 float-end">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn green-link bg-brand-blue">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}"
                        class="btn green-link bg-brand-blue">previous</a>
                    {% endif %}

                    <span class="current mx-2 fw-bolder green-text">
                        page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn green-link bg-brand-blue">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn green-link bg-brand-blue">last
                        &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

</div>
{% endblock %}