{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- Plugin file -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
{% endblock %}

{% block title %}
<title>heiwa | product management</title>
{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ product management ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <!-- show message regarding datatable -->
    {% include 'includes/mobile-message.html' %}

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-xl-10 my-2 justify-content-center">
            <!-- products datatable -->
            <table id="products_table" class="data_table display wrap" width="100%">
                <thead>
                    <tr>
                        <th scope="col">product id</th>
                        <th scope="col">name</th>
                        <th scope="col">artist</th>
                        <th scope="col">size</th>
                        <th scope="col">price</th>
                        <th scope="col">stock level</th>
                        <th scope="col">image</th>
                        <th scope="col">category</th>
                        <th scope="col">date added</th>
                        <th scope="col">update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td scope="row">{{ product.pk }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.photographer_artist }}</td>
                        <td>{{ product.size }}</td>
                        <td>£{{ product.price }}</td>
                        <td>{% if product.in_stock %}
                            {{ product.quantity_in_stock }}
                            {% else %}
                            <strong class="text-danger">out of stock</strong>
                            {% endif %}</td>
                        <td>
                            <img class="card-img-top" style="height: 50%; width: 50%"
                                src="{{ MEDIA_URL}}{{ product.image }}" alt="{{ product.name }} image">
                        </td>
                        <td>{{ product.category.name_to_display }}</td>
                        <td>{{ product.date_added }}</td>
                        <td>
                            <a class="btn btn-success btn-sm mb-1 w-100" href="{% url 'edit_product' product.pk %}">edit
                                details</a>
                            <a class="btn btn-warning btn-sm mb-1 w-100" href="{% url 'stock' product.pk %}">update
                                stock</a>
                            <a class="btn btn-danger btn-sm mb-1 w-100"
                                href="{% url 'delete_product' product.pk %}">delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<!-- Plugin file for datatable -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<!-- personal datatable js -->
<script src="{% static 'js/datatable.js' %}"></script>
{% endblock %}