{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>heiwa | stock management</title>
{% endblock %}

{% block subtitle %}
<h2 class="mt-0 mb-3" id="subtitle">[ stock management ]</h2>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4">
            <h4 class="text-center mt-2 mb-3">please add the new stock level below</h4>
            <!-- stock form -->
            <form action="{% url 'stock' product.pk %}" method="POST" class="my-2 w-100 mb-5">
                {{ form_errors }}
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    <button type="submit" class="btn bg-brand-blue green-link">update stock</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-2">
        <div class="col-md-4 mb-4 text-center">
            <a href="{% url 'all_products' %}" class="btn green-link bg-brand-blue w-100 mb-2">back to all products</a>
            
            <a href="{% url 'product_management' %}" class="btn green-link bg-brand-blue w-100">back to update products</a>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}