<div class="toast mt-5" role="success" aria-live="assertive" aria-atomic="true" data-delay="10000">
  <div class="toast-header">
    <strong class="mr-auto text-success">success</strong>
    <button type="button" class="ml-2 mb-1 close-button" data-dismiss="toast" aria-label="Close">
      <i class="fas fa-window-close"></i>
    </button>
  </div>
  <div class="toast-body">
    {{ message }}
  </div>
  {% if items_in_basket %}
  <div class="container">
    {% for pk in items_in_basket %}
    <div class="row">
      <div class="col">
        <div class=>{{ pk.product.name }} x {{ pk.quantity }}</div>
      </div>
      <div class="col">
      <img class="img-thumbnail" style="height: 50px; width: 50px" src="{{ MEDIA_URL}}{{ pk.product.image }}"
            alt="{{ pk.product.name }} image">
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>